body {
    background-image: url(imagem.png.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Título principal */
.main-title {
    font-size: 62px;
    text-transform: uppercase;
    text-align: center;
    margin: 46px 0;
    background: linear-gradient(90deg, #ffffff, #e4e4e4);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

/* Cabeçalho */
.header {
    display: flex;
    background: linear-gradient(90deg, transparent #9D00FF);
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.header__logo {
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 16px;
    letter-spacing: 2px;
    color: white;
}

.header__nav ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 16px;
}

.header__nav a {
    color: white;
    text-decoration: none;
    padding: 14px;
    border-radius: 6px;
    transition: 0.3s;
}

.header__nav a:hover {
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

a.header__nav--active {
    background: white;
    color: #9D00FF;
    pointer-events: none;
}

/* Seção de planos */
.pricing {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.pricing-plan {
    flex: 1;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border: 1px solid #00CFFF;
    backdrop-filter: blur(4px);
}

.pricing-plan__title {
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    background: linear-gradient(90deg, #ffffff, #f1f1f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 22px;
}

.pricing-plan p {
    margin-top: 0;
}

.pricing-plan__price {
    font-size: 34px;
    color: #00CFFF;
}

.pricing-plan__features {
    margin: 0 0 35px;
    color: #e0e0e0;
    padding-left: 16px;
    line-height: 1.8;
    flex-grow: 1;
}

.pricing-plan__features li::marker {
    color: #9D00FF;
}

/* Botão CTA */
.pricing-plan__cta {
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #00CFFF, #9D00FF);
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 10px;
    text-align: center;
    transition: 0.4s;
}

.pricing-plan__cta:hover {
    background: white;
    color: #9D00FF;
    outline: 2px solid #9D00FF;
}
