@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagem.png.jpg);
    background-size: cover;
    color: #fff;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    background: rgba(15, 0, 38, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px;
    border: 2px solid #FF00FF; /* Neon Pink Border */
    box-shadow: 0 0 30px #ffffff, 0 0 60px rgba(0, 255, 255, 0.3);
    overflow: hidden;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-image img {
    width: 30rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.form-header {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}

h1 {
    color: #FF00FF;
    font-size: 2rem;
    text-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF;
}

.form-header h1::after {
    content: '';
    display: block;
    margin: 0.5rem auto 0;
    width: 80px;
    height: 4px;
    background: linear-gradient(90deg, #FF00FF, #00FFFF, #FF9900);
    border-radius: 5px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 48%;
}

.input-box label {
    font-size: 0.8rem;
    font-weight: 600;
    color: #FFCCFF;
}

.input-box input,
.input-box select {
    margin-top: 0.5rem;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    border: none;
    background: rgba(255, 253, 253, 0.959);
    color: #000000;
    box-shadow: inset 0 0 10px rgba(255, 0, 255, 0.3);
    transition: 0.3s;
}

.input-box input::placeholder {
    color: #cccccc;
}

.input-box input:hover,
.input-box select:hover {
    background: rgba(255, 255, 255, 0.15);
}

.input-box input:focus-visible,
.input-box select:focus-visible {
    outline: 2px solid #00FFFF;
    box-shadow: 0 0 10px #00FFFF;
}

.login-button button,
.continue-button button {
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    background: linear-gradient(145deg, #FF00FF, #00FFFF);
    box-shadow: 0 5px 15px #FF00FF, 0 8px 25px rgba(0, 255, 255, 0.5);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-button button:hover,
.continue-button button:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 25px #FF00FF, 0 12px 30px rgba(0, 255, 255, 0.7);
}

.login-button button a {
    text-decoration: none;
    color: #000;
}

.continue-button {
    width: 100%;
}

.continue-button button {
    width: 100%;
    margin-top: 2rem;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
        padding: 2rem;
    }
    .input-box {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        padding-right: 0;
    }
}
